@charset "UTF-8";
:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --accent-color: #2196F3;
  --background-color: #E5E5E5;
  --header-background-color: #FFFFFF;
  --hero-text: #ffffff;
  --specialty-background-color: #F5F5F5;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --footer-main-text: #ffffff;
  --footer-second-text: rgba(255, 255, 255, 0.6);
  --bg-gradient: linear-gradient( to right, #2F303A66, rgba(47, 48, 58, 0.4));
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.btn {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-titel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .main-titel {
    font-size: 36px;
    line-height: 1.16;
  }
}

.titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), min-height 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  min-height: 0;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background: #FFFFFF;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  color: var(--accent-color);
  border: 1px solid var var(--accent-color);
}

.close-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  width: 450px;
  height: 609px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    height: 581px;
  }
}

.modal-form-titel {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-titel {
    line-height: 1.15;
  }
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal-form-field input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: right;
  color: var(--second-color);
}

.modal-form-field input:focus {
  outline-color: var(--accent-color);
}

.modal-form-field input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-field .modal-input-icon {
  position: relative;
}

.modal-form-field .modal-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1200px) {
  textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-form-check {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.modal-form-check .check-text {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form-check .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-check .check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  margin-right: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-check:checked + .check-text .check-icon {
  fill: var(--third-color);
}

.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.modal-link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn {
  display: block;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 52px;
  margin: 0 auto;
  color: var(--third-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus, .modal-form-btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .header .container {
    align-items: center;
  }
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.16;
  min-width: 134px;
  letter-spacing: 0.03em;
  padding: 24px 0;
  margin-right: 88px;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    line-height: 1.19;
    min-width: 145px;
    margin-right: 93px;
  }
}

.header__logo span {
  color: var(--accent-color);
}

.header__logo:hover, .header__logo:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

.tab-menu {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

@media screen and (max-width: 767px) {
  .tab-menu {
    display: none;
    gap: 315px;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-nav .main-nav {
  display: flex;
}

.header-nav .main-nav .main-nav__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .main-nav .main-nav__link:hover, .header-nav .main-nav .main-nav__link:focus {
  text-decoration: none;
  color: var(--accent-color);
}

.header-nav .main-nav .current {
  color: var(--accent-color);
}

.header-nav .main-nav .current.main-nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.conneсtion-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .conneсtion-nav {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.conneсtion-nav .conneсtion-nav__link {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conneсtion-nav .conneсtion-nav__link:hover, .conneсtion-nav .conneсtion-nav__link:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.conneсtion-nav .conneсtion-nav__link .connection-nav__icon {
  fill: currentColor;
}

.conneсtion-nav .conneсtion-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover, .menu-btn:focus {
  color: var(--accent-color);
}

.menu-btn .mob-menu-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mob-menu-link.current {
  color: var(--accent-color);
}

.mob-connect-item:not(:last-child) {
  margin-bottom: 32px;
}

.connect-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.connect-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-soc-list {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.mob-soc-item:not(:last-child) {
  margin-right: 10px;
}

.mob-soc-item:not(:last-child)::after {
  content: ' ';
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 60px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: var(--bg-gradient), url(../images/back-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/back-mob-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    width: 480px;
    height: 400px;
    padding: 118px 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    height: 400px;
    padding: 118px 0;
    background-image: var(--bg-gradient), url(../images/back-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/back-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: var(--bg-gradient), url(../images/back.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/back-2x.jpg);
  }
}

.hero .hero__titel {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--hero-text);
}

@media screen and (min-width: 1200px) {
  .hero .hero__titel {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero .hero__btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text);
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero .hero__btn:hover, .hero .hero__btn:focus {
  text-decoration: underline var(--accent-color);
}

.specialty__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialty__list .specialty__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .specialty__list .specialty__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .specialty__list .specialty__item {
    width: calc((100% - 90px) / 4);
  }
}

.specialty__list .specialty__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.specialty__list .specialty__titel {
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .specialty__list .specialty__titel {
    text-align: center;
  }
}

.what-do {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .what-do {
    display: block;
  }
}

.what-do-main-titel {
  min-width: 366px;
  text-align: center;
  margin-bottom: 50px;
}

.what-do-list {
  display: flex;
  justify-content: space-between;
}

.what-do-list .wat-do-activ {
  position: relative;
  width: 100%;
  height: 294px;
}

.what-do-list .wat-do-activ .wat-do-activ-titel {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-color);
  background: rgba(47, 48, 58, 0.8);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.what-do-list .wat-do-activ .wat-do-activ-titel:hover, .what-do-list .wat-do-activ .wat-do-activ-titel:focus {
  opacity: 1;
}

.team {
  background-color: var(--team-background-color);
}

.team-main-titel {
  min-width: 205px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-main-titel {
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list .team-item {
  width: 100%;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-div .team-titel {
  font-size: 16px;
  line-height: 1.19;
  min-width: 104px;
  text-align: center;
  margin-bottom: 10px;
}

.team-div .team-text {
  font-size: 16px;
  line-height: 1.19;
  min-width: 76px;
  text-align: center;
}

.team-div .team-soc {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-div .team-soc .soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-div .team-soc .soc-link:hover, .team-div .team-soc .soc-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-div .team-soc .soc-link .team-soc-icon {
  fill: currentColor;
}

.client-titel {
  min-width: 297px;
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list .client-item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .client-list .client-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .client-list .client-item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-list .client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list .client-link .client-icon {
  fill: currentColor;
}

.client-list .client-link:hover, .client-list .client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  margin: 0 auto;
  padding: 60px 60px;
  height: 603px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
    align-items: baseline;
    gap: 70px;
  }
}

.footer-add {
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-add {
    text-align: start;
  }
}

.footer-add .footer-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  min-width: 145px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  color: var(--footer-main-text);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add .footer-logo span {
  color: var(--accent-color);
}

.footer-add .footer-logo:hover, .footer-add .footer-logo:focus {
  text-decoration: underline var(--accent-color);
}

.footer-add .address-list {
  min-width: 231px;
}

.footer-add .address-list .addres-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-add .address-list .address {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  min-width: 231px;
  letter-spacing: 0.03em;
  color: var(--footer-main-text);
}

.footer-add .address-list .address:hover, .footer-add .address-list .address:focus {
  text-decoration: none;
}

.footer-add .address-list .footer-cont {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  min-width: 231px;
  letter-spacing: 0.03em;
  color: var(--footer-second-text);
}

.footer-add .address-list .footer-cont:hover, .footer-add .address-list .footer-cont:focus {
  text-decoration: none;
}

.footer-titel {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--footer-main-text);
}

@media screen and (min-width: 1200px) {
  .footer-titel {
    text-align: start;
  }
}

.footer-soc {
  max-width: 206px;
  margin: 0;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-list .foooter-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list .foooter-soc-link:hover, .footer-soc-list .foooter-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-list .foooter-soc-link .footer-soc-icon {
  fill: currentColor;
}

.footer-mailing {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .footer-mailing {
    width: 450px;
    height: 156px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    width: 570px;
    height: 86px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    gap: 12px;
  }
}

.footer-form .footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-background-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-form .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-input {
    width: 358px;
  }
}

.footer-form .footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .footer-input:hover, .footer-form .footer-input:focus {
  border: 1px solid var(--accent-color);
}

.footer-form .footer-input:focus-within {
  border: 1px solid var(--accent-color);
}

.footer-form .footer-input:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
}

.footer-form .mailing-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  color: var(--third-color);
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form .mailing-btn:hover, .footer-form .mailing-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form .mailing-btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form .mailing-btn .btn-text {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-form .mailing-btn .send-icon {
  width: 24px;
  height: 24px;
  color: var(--third-color);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form .mailing-btn .send-icon:hover, .footer-form .mailing-btn .send-icon:focus {
  background-color: var(--accent-color);
}

.footer-form .mailing-btn .send-icon .send {
  fill: currentColor;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    margin-bottom: 50px;
  }
}

.buttons .example-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  min-width: 73px;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons .example-btn:hover, .buttons .example-btn:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons .example-btn:active {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.example-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .example-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .example-item {
    width: calc((100% - 60px) / 3);
  }
}

.example-link {
  display: block;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link:hover, .example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-link:hover > .example-activ > .activ-text,
.example-link:focus > .example-activ > .activ-text {
  transform: translateY(0);
}

.example-link .example-activ {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.example-link .example-activ .activ-text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link .example-div {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.example-link .example-div .example-titel {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.example-link .example-div .example-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */