:root {
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #ffffff;
    --accent-color: #2196F3;
    --background-color: #E5E5E5;
    --header-background-color: #FFFFFF;
    --hero-text: #ffffff;
    --specialty-background-color: #F5F5F5;
    --team-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --footer-main-text: #ffffff;
    --footer-second-text: rgba(255, 255, 255, 0.6);
}