.specialty__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include desktop {
        
        
    }
.specialty__item {
    width: 100%;
    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 90px) / 4);
        
    }
}
.specialty__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    
}
.specialty__titel {
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}
.specialty__text {
    
}
}
